.jumbotron {
  background-color: #f4e1d2;
  font-family: 'Parisienne', cursive;
  font-style: italic;
  font-size: 250%;
  color: #ff0080;
  margin-bottom: 0;
}
/* Remove the navbar's default rounded borders and increase the bottom margin */
.navbar {
  margin-bottom: 50px;
  border-radius: 0;
}

/* Add a gray background color and some padding to the footer */
footer {
  background-color: #DB7093;
  padding: 25px;
}
