.jumbotron{
 background-color: #f4e1d2;
 background-size: cover;
 padding-top: 60px !important;
 padding: 90px 10px;
 width: 100%;
 height: 400px;
 margin-left: 0;
 margin-bottom: 0;
 font-family: 'Parisienne' !important;
 color: #ff0080;
 font-size: 40px;
}

/*Menu*/
body {
    font-family: "Lato", sans-serif;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #f4e1d2;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f4e1d2;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

h1 {
  text-align: center;
}

h2 {
  font-family: 'Sacramento';
}

#story {
  display: none;
}

#col1{
 padding-top:80px;
 padding-bottom:80px;
}

#col2{
 padding-top:80px;
 padding-bottom:80px;
}
table, th, td {
    border: 1px solid black;
}
/* Add a gray background color and some padding to the footer */
footer {
  background-color: #f4e1d2;
  padding: 25px;
}
